.document {

  .documentHeader {
    overflow: hidden;
    margin-bottom: 15px;
    position: relative;

    .btn {
      text-align: left;

      button {
        width: 137px;
        height: 40px;
        background: #FFB81F;
        border-radius: 8px;
        border: 0;
        outline: none;
        cursor: pointer;

        &:hover {}

        span {
          color: #fff;
          font-size: 18px;
        }
      }
    }

    .search {
      float: right;

      input {
        outline: none;
        border: 1px solid #eeeeee;
        width: 214px;
        height: 40px;
        background: #FFFFFF;
        border-radius: 8px;
        text-indent: 52px;
      }

      img{
        position: absolute;
        top: 10px;
        left: 20px;
      }
    }
  }
}

.documentModal{

  .documentInput{
      width: 380px;
      height: 40px;
      outline: none;
      border: 0;
      background: #EEEEEE;
      border-radius: 8px;
      text-indent:18px;
  }

  .btns {
    text-align: center;

    .cancelbtn {
      width        : 94px;
      height       : 39px;
      background   : #F7F8F9;
      border-radius: 8px;
      outline      : none;
      border       : 0px;
      color        : #777777;
      margin-right : 50px;
    }

    .okBtn {
      width        : 94px;
      height       : 39px;
      background   : #FFB81F;
      border-radius: 8px;
      outline      : none;
      border       : 0px;
      color        : #FFFFFF;
    }
  }
}
