.projectDetail {

  .projectDetailHeader {

    .projectDetailLeft {
      overflow: hidden;
      float   : left;

      li {
        float: left;
        text-align: center;
        margin-right:10px; 

        a {
          display: inline-block;
          width: 70px;
          padding: 5px;
          background-color: rgb(117, 116, 116);
          color: #ffffff;
          border-radius: 5px;
        }
      }
    }

    .projectDetailRight {
      overflow: hidden;
      float   : right;

      li {
        float: left;
        margin-right: 10px;
      }
    }
  }
}