.recordLi {
  display      : inline-block;
  width        : 192px;
  height       : 192px;
  background   : #FFFFFF;
  border-radius: 8px;
  overflow: hidden;
  text-align: center  ;

  &:hover {
    box-shadow: 0px 3px 7px 0px rgba(214, 214, 214, 0.76);
  }

  img {
    width: 192px;
    height: 140px;
    display: block;
  }

  p {
    font-size  : 18px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color      : #333333;
    line-height: 50px;
  }
}

.gutter-row {
  text-align: center;
}

.rightModal {
  background-color: #fff;
  text-align      : center;

  li {
    padding: 3px 20px;
    cursor : pointer;

    &:hover {
      background-color: #e9e9e9;
    }
  }
}