.Menu {
  float: left;
  width: 200px;

  ul {
    overflow   : hidden;
    padding-top: 26px;

    li {
      height       : 50px;
      line-height  : 50px;
      margin-bottom: 50px;

      &:hover {
        width     : 254px;
        height    : 50px;
        background: #FFFFFF;
        box-shadow: 0px 2px 10px 0px rgba(255, 184, 31, 0.19);
        color     : rgba(255, 184, 31, 1);

      }

      img {
        margin-left   : 26px;
        width         : 25px;
        vertical-align: sub;
      }

      span {
        margin-left: 20px;
        font-size  : 20px;
        font-family: MicrosoftYaHei;
        font-weight: 400;
        color      : #333333;
      }
    }
  }
}