.Menu {
  float: left;
  width: 200px;

  ul {
    overflow   : hidden;
    padding-top: 26px;

    li {
      height     : 40px;
      line-height: 40px;

      &:hover {
        background-color: #f8f7f7;
        color           : #25b864;
      }

      a {
        color  : #595959;
        width  : 100%;
        display: block;

        &:hover {
          color: #25b864;
        }

        span {
          margin-left: 10px;
        }
      }


    }
  }
}