.main {
  background: #fafafa;
  height    : 1000px;

  .layout-container-middle {
    max-width    : 1216px;
    padding-left : 16px;
    padding-right: 16px;
    margin-left  : auto;
    margin-right : auto;
    height       : 100%;
    overflow     : hidden;

    .navContent {
      margin-left: 200px;
      margin-top: 20px;
      padding    : 20px;
      background: #fff;
    }
  }
}