.headers {
  overflow: hidden;

  ul {
    overflow: hidden;
    float: left;

    li {
      float: left;
      margin-right: 10px;

      a {
        font-size: 14px;
        color: #000;

        &:hover {
          font-weight: bold;
        }
      }
    }
  }

  .search {
    float: right;
  }
}

.defectMain {
  margin-top: 20px;
  background: #ffffff;
  padding: 0 28px;
  border-radius: 8px;
  position: relative;

  .input {
    width: 264px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 8px;
    position: absolute;
    top: -76px;
    left: 72%;
    outline: none;
    border: 0;
    text-indent: 52px;
  }

  .searchBtn {
    position: absolute;
    top: -65px;
    left: 74%;
  }
}

.modal {
  width: 800px;

  p {
    margin-top: 10px;
  }
}

.ant-modal-body {
  padding: 56px 85px 38px 86px !important;
}