.recordSearch {
  width : 300px;
  margin: 20px auto;
}

.gutter-row {
  text-align: center;


  .recordAdd {
    width        : 192px;
    height       : 192px;
    background   : #FFFFFF;
    border-radius: 8px;

    .addIcon{
      height: 73%;
      width: 100%;
      background: rgba(231, 231, 231, 1);
    }

    &:hover {
      box-shadow: 0px 0px 3px rgb(65, 64, 64);
    }

    .icon {
      color: #FFFFFF;
      font-size : 76px;
      margin-top: 30px;
    }
  }

  p{
    font-size: 18px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #333333;
    line-height: 62px;
  }
}