.record {

  .recordSearch {
    width : 300px;
    margin: 20px auto;
  }

  ul {
    overflow: hidden;

    li {
      float       : left;
      margin-right: 50px;
      text-align  : center;

      .recordAdd {
        width          : 70px;
        height         : 70px;
        border         : 1px solid #8b8a8a;
        display        : flex;
        justify-content: center;
        align-items    : center;

        &:hover {
          box-shadow: 0px 0px 3px rgb(65, 64, 64);
        }

        .icon {
          font-size : 36px;
          margin-top: 3px;
        }
      }
    }
  }
}