.Design {
  .DesignFolder {
    padding: 0 10px;

    .DesignHeader {
      overflow     : hidden;
      margin-bottom: 15px;

      button {
        width        : 137px;
        height       : 40px;
        background   : #FFB81F;
        border-radius: 8px;
        border       : 0;
        outline      : none;
        cursor       : pointer;

        span {
          color    : #fff;
          font-size: 18px;
        }
      }
    }
  }

  .designModal {

    .ant-input-search .ant-input:hover,
    .ant-input-search .ant-input:focus {
      border-color: #FFFFFF !important;
      box-shadow  : none !important;
      width       : 200px !important;
    }
  }
}